[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/gmsh.vim"]
	path = vim/bundle/gmsh.vim
	url = https://github.com/nschloe/gmsh.vim
[submodule "vim/bundle/vim-octave"]
	path = vim/bundle/vim-octave
	url = https://github.com/jvirtanen/vim-octave
