[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
